<h2>Augusto Bank</h2>
<p>Agência - 9999</p>
<p>Conta - 99999-9</p>
<br />
<div>
  <p>
    Poupança: <span id="valor-poupanca">{{ getPoupanca | currency }}</span>
  </p>
  <input id="input-sacar" type="text" #sacar />
  <button id="sacar" (click)="setCarteira(sacar.value)">Sacar</button>
</div>
<div>
  <p>
    Carteira: <span id="valor-carteira">{{ getCarteira | currency }}</span>
  </p>
  <input id="input-depositar" type="text" #depositar />
  <button id="depositar" (click)="setPoupanca(depositar.value)">
    Depositar
  </button>
</div>

<app-list></app-list>
