<h2>Interpolation</h2>
<p>
  A interpolação de texto permite que você incorpore valores dinâmicos em seus
  modelos HTML
</p>
<h3>No HTML</h3>
<code>{{ exemploHTMLInterpolation }}</code>
<h3>Na Classe</h3>
<code>{{ exemploClasseInterpolation }}</code>
<hr />
<h2>Property Binding</h2>
<p>Ajuda a definir valores para propriedades de elementos ou diretivas HTML</p>
<h3>No HTML</h3>
<code>{{ exemploHTMLPropertyBinding }}</code>
<h3>Na Classe</h3>
<code>{{ exemploClassePropertyBinding }}</code>
<h3>Exemplos</h3>
<button [disabled]="habilitarBotao">Habilitado</button>
<button [disabled]="!habilitarBotao">Desabilitado</button>
<hr />
