<h2>Interpolation</h2>
<p>
  A interpolação de texto permite que você incorpore valores dinâmicos em seus
  modelos HTML
</p>
<h3>No HTML</h3>
<pre>{{ exemploHTMLInterpolation }}</pre>
<h3>Na Classe</h3>
<pre>{{ exemploClasseInterpolation }}</pre>
<hr />
<h2>Property Binding</h2>
<p>Ajuda a definir valores para propriedades de elementos ou diretivas HTML</p>
<h3>No HTML</h3>
<pre>{{ exemploHTMLPropertyBinding }}</pre>
<h3>Na Classe</h3>
<pre>{{ exemploClassePropertyBinding }}</pre>
<h3>Exemplos</h3>
<button [disabled]="habilitarBotao">Habilitado</button>
<button [disabled]="!habilitarBotao">Desabilitado</button>
<hr />
<h2>Event Binding</h2>
<p>
  É a associação de eventos que permite você escutar e responder às ações do
  usuário, como pressionamentos de tecla, movimentos do mouse, cliques, toques,
  e etc.
</p>
<h3>No HTML</h3>
<pre>{{ exemploHTMLEventBinding }}</pre>
<h3>Na Classe</h3>
<pre>{{ exemploClasseEventBinding }}</pre>
<h3>Exemplo</h3>
<button (click)="evento()">Botão</button>
<hr />
<h2>Two-way Binding</h2>
<p>
  É a união do Property Binding com Event Binding, usado para ouvir eventos e
  atualizar valores simultanemante entre os componentes pai e filho
</p>
<h3>No HTML</h3>
<pre>{{ exemploHTMLTwoWayBinding }}</pre>
<h3>Na Classe</h3>
<pre>{{ exemploClasseTwoWayBinding }}</pre>
<h3>Exemplo</h3>
<input [(ngModel)]="txtTwoWayBinding" placeholder="Two Way Binding" />
<p>{{ txtTwoWayBinding }}</p>
