<h2>Imput</h2>
<form #imput="ngForm">
  <label>
    Nome:
    <input type="text" name="nome" ngModel />
  </label>
  <label>
    E-mail:
    <input type="text" name="email" ngModel />
  </label>
  <label>
    Idade:
    <input type="number" name="idade" ngModel />
  </label>
</form>
<br />
{{ imput.value | json }}
<h2>Imput radio</h2>
<form #imputRadio="ngForm">
  <label>
    <input type="radio" name="genero" value="Masculino" ngModel />
    Masculino:
  </label>
  <label>
    <input type="radio" name="genero" value="Feminino" ngModel />
    Feminino:
  </label>
  <label>
    <input type="radio" name="genero" value="Outros" ngModel />
    Outros:
  </label>
</form>
<br />
{{ imputRadio.value | json }}
