<h2>Imput</h2>
<form #imput="ngForm">
  <label>
    Nome:
    <input type="text" name="nome" ngModel />
  </label>
  <label>
    E-mail:
    <input type="text" name="email" ngModel />
  </label>
  <label>
    Idade:
    <input type="number" name="idade" ngModel />
  </label>
</form>
<br />
{{ imput.value | json }}
<h2>Imput radio</h2>
<form #imputRadio="ngForm">
  <label>
    <input type="radio" name="genero" value="Masculino" ngModel />
    Masculino:
  </label>
  <label>
    <input type="radio" name="genero" value="Feminino" ngModel />
    Feminino:
  </label>
  <label>
    <input type="radio" name="genero" value="Outros" ngModel />
    Outros:
  </label>
</form>
<br />
{{ imputRadio.value | json }}
<h2>Checkbox</h2>
<form #checkbox="ngForm">
  <label>
    <input type="checkbox" name="angular" ngModel />
    Angular:
  </label>
  <label>
    <input type="checkbox" name="react" ngModel />
    React:
  </label>
  <label>
    <input type="checkbox" name="vue" ngModel />
    Vue:
  </label>
</form>
<br />
{{ checkbox.value | json }}
<h2>Select</h2>
<form #select="ngForm">
  <label>
    Comidas:
    <select name="comidas" ngModel>
      <option value="">Selecione...</option>
      <option value="pizza">Pizza</option>
      <option value="lasanha">Lasanha</option>
      <option value="boloChocolate">Bodo de chocolate</option>
      <option value="pudim">Pudim</option>
    </select>
  </label>
</form>
<br />
{{ select.value | json }}
<h2>Error</h2>
<form #error="ngForm">
  <label>
    Nome:
    <input
      type="text"
      name="nome"
      #nome="ngModel"
      [ngModel]="nome.value"
      required
    />
    <span
      *ngIf="!nome.valid && nome.dirty && nome.touched"
      [ngStyle]="{ color: 'red' }"
    >
      Invalid</span
    >
  </label>
</form>
<br />
<P>Valid: {{ nome.valid | json }}</P>
<P>Touched: {{ nome.touched | json }}</P>
<P>Dirty: {{ nome.dirty | json }}</P>
