<h2>Diretivas estruturais</h2>
<p>
  São as diretivas que moldam ou remodelam a estrutura do DOM, adicionando,
  removendo e manipulando os elementos do host aos quais estão anexados.
</p>
<h3>*ngIf</h3>
<p>Diretiva condicional, cria ou descarta visualizações do modelo</p>
<h4>No HTML</h4>
<pre>{{ exemploHTMLDiretivaNgIf }}</pre>
<h4>Na Classe</h4>
<pre>{{ exemploClasseDiretivaNgIf }}</pre>
<h4>Resultado</h4>
<p *ngIf="condicionalNgIf">Exemplo *ngIf</p>
<h3>*ngFor</h3>
<p>Diretiva de repetição, ela cria elementos baseada em uma lista.</p>
<h4>No HTML</h4>
<pre>{{ exemploHTMLDiretivaNgFor }}</pre>
<h4>Na Classe</h4>
<pre>{{ exemploClasseDiretivaNgFor }}</pre>
<h4>Resultado</h4>
<ul>
  <li *ngFor="let item of listaNgFor">{{ item }}</li>
</ul>
<h3>*ngSwitch</h3>
<p>Conjunto de diretivas que alternam entre visões alternativas.</p>
<h4>No HTML</h4>
<pre>{{ exemploHTMLDiretivaNgSwitch }}</pre>
<h4>Na Classe</h4>
<pre>{{ exemploClasseDiretivaNgSwitch }}</pre>
<h4>Resultado</h4>
<div [ngSwitch]="condicaoNgSwitch">
  <p *ngSwitchCase="true">Opção 1</p>
  <p *ngSwitchCase="false">Opção 2</p>
</div>
<hr />
<h2>Diretivas de atributos</h2>
<p>
  São as diretivas que alteram a aparência ou comportamento de um elemento,
  componente ou outra diretiva.
</p>
<h3>*ngClass</h3>
<p>Diretiva que adiciona ou remove um conjunto de classes CSS.</p>
<h4>No HTML</h4>
<pre>{{ exemploHTMLDiretivaNgClass }}</pre>
<h4>No CSS</h4>
<pre
  >{{ exemploCSSDiretivaNgClass }}
</pre>
<h4>Resultado</h4>
<p [ngClass]="'exemplo-ng-class'">Exemplo ngClass</p>
